.navbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 100;
    transition: box-shadow 0.3s ease;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding-top: 6rem;
}

.navbar .logo {
    max-width: 150px;
    min-height: 60px;
    margin-left: 20px;
}

.navbar.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.navbar a:hover {
    color: rgb(212, 5, 5);
}







.work-process {
    display: flex;
}

.work-process h1 {
    margin-right: 60px;

}

.vertical-line {
    width: 0.5px;
    height: 281vh;
    background-color: #cccccc;
    margin-top: 120px;
    margin-left: 31%;
    position: absolute;
    top: 12%;
}

/* Custom CSS for the alert messages */
.alert-message {
    background-color: #f44336;
    /* Red background color */
    color: #ffffff;
    /* White text color */
    font-size: 18px;
    /* Font size */
    padding: 10px;
    /* Padding */
    position: fixed;
    top: 50px;
    /* Adjust the top value as needed to position the message */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.h1 {
    max-width: 400px;
    font-size: 0.9rem;
    height: auto;
    margin-left: 5rem;
    margin-top: 2rem;
    position: relative;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
}

.circle-icon {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: linear-gradient(130deg, #fefcf4, #fdf5d6);
    margin-top: 2.7rem;
    margin-left: 27.9%;
    box-shadow: -1px 3px 13px 6px rgba(0, 0, 0, .1);
}

.circle-icon i {
    font-size: 40px;
    color: rgb(223, 198, 98);
}

.h2title {
    max-width: 850px;
    height: auto;
    margin-left: 6.5rem;
    margin-top: 1.8rem;
    font-family: 'DM Serif Display', serif;

    font-size: 1.1rem;
}

.navbar .hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
    padding: 5px;
}

.navbar .line {
    width: 25px;
    height: 4px;
    background-color: #000;
    margin: 4px;
}

.first {
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: #ffffff;
    height: auto;
    display: flex;
    transition: background-color 1s ease-in-out;
    padding-bottom: 2rem;
    /* Add transition for background-color property */
}


.left-1 {
    max-width: 20rem;
    height: auto;
    margin-left: 5rem;
    padding-top: 0.5rem;
}

.first h1 {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.first p {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.7rem;
}

.number1 {
    display: flex;
    background-color: #f1ca6c;
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.circle1 {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #faedcc;
    width: 60px;
    height: 60px;
    margin-left: 29%;
    margin-top: 1rem;
}


.second {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: white;
    height: auto;
    display: flex;
    transition: background-color 0.5s ease-in-out;
}

.left-2 {
    max-width: 20rem;
    height: auto;
    margin-left: 5rem;
    padding-top: 0.5rem;
}

.second h1 {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.second p {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.7rem;
}

.number2 {
    display: flex;
    background-color: #99ceb2;
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.circle2 {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #dbeee4;
    width: 60px;
    height: 60px;
    margin-left: 29%;
    margin-top: 1rem;
}

.third {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    height: auto;
    display: flex;
    transition: background-color 0.5s ease-in-out;

}

.left-3 {
    max-width: 20rem;
    height: auto;
    margin-left: 5rem;
    padding-top: 0.5rem;
}

.third h1 {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.third p {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.7rem;
}

.number3 {
    display: flex;
    background-color: #e4ab90;
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.circle3 {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eec6b3;
    width: 60px;
    height: 60px;
    margin-left: 29%;
    margin-top: 1rem;
}

.fourth {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    height: auto;
    display: flex;
    transition: background-color 0.5s ease-in-out;

}




.left-4 {
    max-width: 20rem;
    height: auto;
    margin-left: 5rem;
    padding-top: 0.5rem;
}

.fourth h1 {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.fourth p {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.7rem;
}

.number4 {
    display: flex;
    background-color: #8eb7dd;
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.circle4 {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d8e6f3;
    width: 60px;
    height: 60px;
    margin-left: 29%;
    margin-top: 1rem;
}

.right-1 {
    margin-left: 11.4rem;
    width: 50%;
    font-family: 'DM Sans', sans-serif;
}

.first-h5 {
    margin-top: 3rem;
}


.form-1 h5 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
}

.input-container {
    position: relative;
}

.input-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 0.5px;
    background-color: #ccc;
}

.input-container2 {
    position: relative;
}

.input-container2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 0.5px;
    background-color: #ccc;
}

.input-container2 input,
.input-container input {
    width: 100%;
}




.email-number {
    display: grid;
    grid-template-columns: 1fr;
    /* One column by default */
}

/* Styles for non-mobile views (screen width larger than 600px, adjust as needed) */
@media (min-width: 801px) {
    .email-number {
        grid-template-columns: 1fr 1fr;
        /* Two equal columns */
        gap: 5rem;
        /* Add a small gap between the columns */
        align-items: center;
        /* Center align elements vertically */
    }
}







.right-2 {
    margin-left: 11.4rem;
    width: 50%;
    font-family: 'DM Sans', sans-serif;
}

.right-2 h5 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
}

textarea {
    width: 100%;
    height: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    font-family: 'DM Sans', sans-serif;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 4%;
    right: 70%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price {
    margin: 10px 0;
    width: 100%;
    display: flex;

}

.range-price input {
    max-width: 4rem;
    font-size: 1.2rem;
    color: #a6aca9;
    font-weight: 600;
}

.range-price p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #a6aca9;
    font-weight: 600;
}

.to {
    margin-right: 1.2rem;
    font-weight: 800;
}

.amount {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

}



.right-3 {
    margin-left: 12%;
    width: 55%;
}

.right-3 h1 {
    margin-bottom: 2rem;
}

.right-3 label {
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 1.0vw;
    padding: 0.9em 1.0em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40%;
    line-height: 1.2em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
}

.options-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.options-row input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

input[type='checkbox'] {
    accent-color: rgba(228, 171, 144, 255);
}

.options-row label,
.options-row input[type="checkbox"]:hover {
    cursor: pointer;
}

.right-4 {
    margin-left: 8rem;
    width: 70%;
}

.right-4 h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 4.4rem;
}

.radio-row {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-left: 3.4rem;
}

.radio-row label,
.radio-row input[type="radio"]:hover {
    cursor: pointer;
}

.right-4 label {
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 1.0vw;
    padding: 0.8em 0.9em;
    border-radius: 10px;
    width: 30%;
    line-height: 1.2em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    border: 1px solid #a7a3a3;
}

.right-4 p {
    display: flex;
    width: 80%;
    justify-content: center;
    padding-bottom: 2rem;
    margin-left: 4rem;
}

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 6%;
    text-align: center;
    cursor: pointer;
    color: grey;
    opacity: 0.7;
    transition: transform 0.3s, box-shadow 0.3s, z-index 0.3s, opacity 0.3s, color 0.3s;
}

.content-date {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    gap: 3%;
}

.card h1 {
    margin: 0;
}

.card.selected {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    color: black;
}

.navigation1 {
    margin-left: 950px;
    margin-top: -75px;
}

.navigation {
    margin-top: 50px;
}

button#prevButton,
button#nextButton {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    color: #8e8e8e;
}

.schedule {
    display: flex;
    width: 60%;
    margin-top: 6rem;

}

.schedule p {
    margin: 0;
    padding-bottom: 1rem;
    font-weight: 600;
}

#time-select {

    padding: 0.5rem 0.8rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.select-time {
    margin-left: 7.5%;
}

.select-2 {
    margin-left: 14%;
    padding: 0.5rem 0.8rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

#sendDataButton {
    margin-top: 3rem;
    margin-left: 4.8rem;
    width: 25%;
    height: 8%;
    background-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(247, 53, 53);
    color: rgb(247, 53, 53);
    font-size: 1.2rem;
    padding: 10px 5px 10px 5px;
    font-weight: 520;
    cursor: pointer;
    transition: background-color 0.6s, color 0.3s;

}

#sendDataButton:hover {
    background-color: rgb(249, 61, 61);
    color: white;
}


.circle-icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(150, 144, 162, 0.08);
    /* Set your desired grey color */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 4rem;
}

.circle-icons::before,
.circle-icons::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #000000;
    /* Set the line color to white */
}

.circle-icons::before {
    top: 40%;
    /* Adjust the position of the first line */
    width: 22px;

}

.circle-icons::after {
    top: 57%;
    /* Adjust the position of the second line */
    width: 18px;
    height: 2px;
}

/* Center the lines horizontally */
.circle-icons::before,
.circle-icons::after {
    left: 50%;
    transform: translateX(-50%);
}

.circle-icons::after {
    left: 46.3%;
}



.sidebar {
    position: fixed;
    top: 0;
    right: -310px;
    /* Move the sidebar off-screen initially from the right */
    width: 300px;
    /* Set your desired sidebar width */
    height: 100%;
    background-color: #000000d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    /* Add shadow to the sidebar */
    /* Set your desired sidebar background color */
    transition: right 0.7s ease;
    /* Use right instead of left for the transition */
    z-index: 1000;
}

.close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 16.5rem;
    color: white;
}

.close-icon:hover {
    color: #f64545;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* Adjust the spacing as needed */
}

.container a {
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    /* Set your desired link color */
    font-size: 1.3rem;
}

.container a:hover {
    color: #f64545;
    /* Set your desired red color on hover */
}

/* Additional styles for improved appearance */





























@media only screen and (max-width: 800px) {
    .navbar .logo {
        max-width: 100px;
        min-height: 40px;
        margin-left: 0;
    }

    .circle-icons {
        
        margin-right: 2rem;
    }

    .navbar .container {
        display: none;
    }

    .navbar {
        box-shadow: 0 -1px 13px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
    }


    .sidebar {
        position: fixed;
        top: 0;
        right: -300px;
        /* Move the sidebar off-screen initially from the right */
        width: 300px;
        /* Set your desired sidebar width */
        height: 100%;
        background-color: #000000d8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        /* Add shadow to the sidebar */
        /* Set your desired sidebar background color */
        transition: left 0.6s ease;
        /* Use right instead of left for the transition */
        z-index: 1000;
    }

    .container a {
        padding: 10px;
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
        /* Set your desired link color */
        font-size: 1.2rem;
    }

    .close-icon {
        font-size: 24px;
        cursor: pointer;
        margin-left: 17rem;
        color: white;
    }

    .vertical-line,
    .circle-icon {
        visibility: hidden;
    }

    .work-process {
        display: block;
    }

    .h2title,
    .h1 {
        max-width: 100%;
        height: fit-content;
    }

    .h1,
    .h2title {
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }

    .circle-icon {
        position: absolute;
        width: 20%;
        height: auto;
        max-width: 80px;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .circle1 {
        margin-left: 0;
        margin-top: -7rem;
    }

    .first,
    .second,
    .third,
    .fourth {
        display: block;
        height: auto;
        padding-bottom: 1rem;
    }

    .first h1,
    .second h1,
    .third h1,
    .fourth h1 {
        font-size: 1.2rem;
    }

    .first p,
    .second p,
    .third p,
    .fourth p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .right-1 {
        margin-left: 0;
    }

    .email-number,
    .email-number2 {
        display: block;
    }

    .right-1 h1 {
        width: 100vw;
    }

    .first-h5 {
        margin-top: 2rem;
    }

    .left-1,
    .left-2 {
        max-width: 800px;
    }

    .form-1 {
        max-width: 800px;
    }

    .input-container::after,
    .input-container2::after {
        width: 190%;

    }



    .circle2 {
        margin-left: 0;
        margin-top: -5rem;
    }


    .right-2,
    .right-3 {
        margin-left: 0.4rem;
        width: 90%;
    }

    textarea {
        height: 5rem;
    }

    .left-3,
    .left-4 {
        max-width: 100%;
    }

    .circle3,
    .circle4 {
        margin-left: 0;
        margin-top: -8rem;
    }

    .right-3 label,
    .right-4 label {
        font-size: 0.8rem;
    }

    .right-4 {
        margin-left: 0.2rem;
    }

    .right-4 h1 {
        margin-left: 0.2rem;
        width: 140%;
    }

    .right-4 p {
        padding-bottom: 1rem;
    }

    .radio-row {
        width: 80%;
        margin-bottom: 2rem;
    }

    .navigation,
    .navigation1 {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .cards-container {
        margin-left: 2%;
    }

    .card {
        font-size: 0.5rem;
        padding: 1rem;
    }

    .schedule {
        margin-top: 2rem;
        width: 120%;

    }

    .select-time {
        display: flex;

        align-items: center;
    }

    .select-2 {
        margin-top: 10px;
    }

    #sendDataButton {
        margin-left: 40%;
        width: 40%;
        height: 8%;
        background-color: transparent;
        border-radius: 4px;
        border-width: 1px;
        border-color: rgb(247, 53, 53);
        color: rgb(247, 53, 53);
        font-size: 0.9rem;
        padding: 6px 3px 6px 3px;
        font-weight: 520;
        cursor: pointer;
        transition: background-color 0.6s, color 0.3s;
    }

}